<p>“There’s a toolbox of reusable concepts for analyzing systems I would call”inadequate&quot; - the causes of civilizational failure, some of which correspond to local opportunities to do better yourself:</p>
<ol type="1">
<li>Cases where the decision lies in the hands of people who would gain little personally, or lose out personally, if they did what was necessary to help someone else;
<ul>
<li>can’t short bad startup valuations</li>
<li>can’t short houses - this is why normal people can see a housing bubble coming and it remain uncorrected</li>
</ul></li>
<li>Cases where decision-makers can’t reliably learn the information they need to make decisions, even though someone else has that information
<ul>
<li>this is why stock markets are efficient: the people with expertise gain money and then more people give them money so they can invest how much they decide is warranted.</li>
<li>now imagine everyone was capped at investing $1000 in a certain company. Then all the people with expertise can invest, but the stock might still be undervalued.</li>
<li>this is happening in medicine. Some problems are easy to solve but very few people experience them, so their small number of voices isn’t enough to get attention when everyone is screaming about something</li>
</ul></li>
<li>Systems that are broken in multiple places so that no one actor can make them better, even though, in principle, some magically coordinated action could move to a new stable structure.&quot;</li>
</ol>
<p>“If you want to outperform – if you want to do anything not usually done – then you’ll need to conceptually divide our civilization into areas of lower and greater competency.” - p43</p>
<ol type="1">
<li>&quot;Try to spend most of your time thinking about the object level. If you’re spending more of your time <em>thinking about your own reasoning ability and competence</em> than you spend thinking about Japan’s interest rates and NGDP, or competing omega-6 vs. omega-3 metabolic pathways, you’re taking your eyes off the ball.</li>
<li>Less than a majority of the time: Think about how reliable authorities seem to be and should be expected to be, and how reliable you are – using your own brain to think about the reliability and failure modes of brains, since that’s what you’ve got. Try to be evenhanded in how you evaluate your own brain’s specific failures versus the specific failures of other brains. While doing this, take your own meta-reasoning at face value.&quot;</li>
</ol>
