<p>Chapter 1 (<em>Q: How to live? A. Don't worry about death</em>) is very immediate. </p>
<blockquote>
<p>If death could play such tricks, then only the flimsiest membrane separated 
Montaign himself from the void at every moment. He because so afraid of losing 
his life that he could no longer enjoy it while he had it. </p>
<p>"With such frequent and ordinary examples passing before our eyes, how can we 
possibly rid ourselves of the thought of deat and of the idea that <em>at every 
moment it is gripping us by the throat</em>?" </p>
<p>"Let us have nothing on our minds as often as death." </p>
<p>Fortunately, this constriction did not last. By his forties and fifties, 
Montaign was liberated into light-heartedness. He was able to write the most 
fluid and life-loving of his essays, and he showed almost no remaining sign 
of his earlier <em>morbid</em> state of mind... He now <em>refused to worry about 
anything</em>. Death is only a few bad moments at the end of life. It is not 
worth wasting any anxiety over. </p>
<p>"If you don't know how to die, don't worry; Nature will tell you what to do 
on the spot, fully and adequately. She will do this job perfectly for you; 
don't bother your head about it." </p>
<p>"Don't worry about death" became his most fundamental, most liberating answer 
to this question of how to live. It made it possible to do just that: <em>live</em>. </p>
</blockquote>
<p>I think this is very important. As I was reading it, I dismissed it as not 
applicable to me. I want to stop death, not because I'm scared of the 
sensation of dying, but because I'm scared of not being conscious and being 
forever lost. But this advice is still applicable. Living <em>like I believe this</em> 
is still a good idea even if I don't. </p>