<p>&quot;The eight major advantages of the Standardized Meal System.</p>
<ol type="1">
<li>No need to accumulate recipe books.</li>
<li>Standard shopping list - hence very efficient shopping.</li>
<li>Almost zero waste - nothing in the refrigerator or pantry unless required for one of the recipes.</li>
<li>Diet planned and nutritionally balanced in advance.</li>
<li>No time wasted wondering what to cook.</li>
<li>No mistakes, no unpleasant surprised.</li>
<li>Excellent food, superior to most restaurants at a much lower price (point 3).</li>
<li>Minimal cognitive load required. &quot;</li>
</ol>
<p>“My Tuesday, Thursday, and Saturday runs to the market are a feature of my schedule, combining exercise, meal-ingredients purchase, and an opportunity for reflection. I was in great need of the last of these.”</p>
