<p>Some of my favorite posts on the internet, all by Scott Alexander on his blog <a href="https://slatestarcodex.com/">SlateStarCodex</a>.</p>
<ol type="1">
<li>“Burdens”</li>
<li>“The Parable of the Talents”
<ul>
<li>“It’s more that I can’t stop even if I want to. Part of that is probably that when I write, I feel really good about having expressed exactly what it was I meant to say.”</li>
</ul></li>
<li>“Genetic Russian Roulette”</li>
<li>“Apologia Pro Vita Sua”</li>
<li>“The Lottery of Fascinations”</li>
<li>“I Can Tolerate Anything Except The Outgroup”</li>
</ol>
